<button class="rightBtn menuBtn" onclick="toggleMenu(this)">
    <div class="bar"></div>
    <div class="bar"></div>
    <div class="bar"></div>
</button>
<nav role='navigation' id="offscreenMenu" class="closed">
    <div id="menuToggle">
        <div class="overlay"></div>
        <input type="checkbox" id="chkMenu" />
        <div id="menu">
            <div class="centerMenu">
                <ul class='according-list'>
                    {% for menu in menus%}
                    <li><h4>{{menu.titulo}}</h4> 
                        <div>
                            <ul>
                                {% for submenu in menu.subMenus.all %}
                                <li><a href="{{submenu.link}}">{{submenu.titulo}}</a></li>
                                {% endfor %}
                            </ul>
                        </div>
                    {% endfor %}
                    
                </ul>
            </div>
            
        </div>
        
    </div>
</nav>